doctype html
html(lang='en')
  head
    title Ajax Test
    meta(charset='utf-8')
    script(src='/jquery-1.7.2.min.js', type='text/javascript')
    script(src='/ajax.js', type='text/javascript')
    link(type='text/css', rel='stylesheet', href='/site.css')
  body
    div#container(align='center')
      div#ajaxOutput Выводимый текст 
      p
      input#ajaxInput
      button#ajaxButton Отправить
      