doctype html
html
  head
    title Codes     
    script(src='/js/jquery-1.7.2.min.js')
    script(src='/js/codes.js')
  body
    .main-codes
      .code-block  
      .code-block
      .code-block
      .code-block
