doctype html
html
  head
  title Codes
  link(href='/css/hack_style.css', rel='stylesheet', type='text/css')
  script(src='/js/jquery-1.7.2.min.js')
  script(src='/js/codes.js')
  body
    div.main-codes
    - for (var i = 0; i < 8; i++) {
      div.code-block
    - }
