extends main-layout

block head
  title Самой любимой
  link(type='text/css', rel='stylesheet', href='/css/site.css')

block content
  h1(align='center') Самая любимая и красивая
  div#container.col(align='center')
    p img(src='#{iUrl}')
    p #{gName}