doctype html
html(lang='en')
head
  meta(charset='utf-8')
  link(href='/hack_style.css', rel='stylesheet', type='text/css')
  script(src='/jquery-1.7.2.min.js', type='text/javascript')
  script(src='/hack_console.js', type='text/javascript')
  script
    | Typer.speed = 3;
    | Typer.file = '/Binare_Tree.txt';
    | Typer.init();
  body
    table.tb
      tr
        td.leftcol
          img#dgirl(src='/dance_girl.gif')
        td.textcol
          #console
        td.rightcol
          img#cube1(src='/orb.gif')
          p
          img#cube2(src='/cube.gif')
