extends main-layout

block head
  title Hacker Console
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='/bs/css/bootstrap.min.css', type='text/css', rel='stylesheet')
  link(href='/css/hacker.css', rel='stylesheet', type='text/css')
  script(src='/js/jquery.js', type='text/javascript')
  script(src='/js/hack_console.js', type='text/javascript')
  script.
    Typer.init('/other/Binare_Tree.txt');

block content
  div.container-fluid
    div.col-xs-4.hidden-xs
      img#dgirl.img-responsive(src='/img/dance_girl.gif')
    div.col-xs-4
      div#console
    div.col-xs-4.hidden-xs
      img#cube1.img-responsive(src='/img/orb.gif')
      p
      img#cube2.img-responsive(src='/img/cube.gif')
