doctype html
html(lang='en')
head
    meta(charset='utf-8')
    link(href='/hack_style.css', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js', type='text/javascript')
    script(src='/hack_console.js', type='text/javascript')
    script
      | Typer.speed = 3;
      | Typer.file = '/Binare_Tree.txt';
      | Typer.init();
  body
    table.tb
      tr
        td.leftcol
          img#cube1(src='/t1.gif')
        td.textcol
          #console
        td.rightcol
          img#cube2(src='/dance_girl.gif')
