doctype html
html(lang='en')
  head
    title Привет всем
    link(type='text/css', rel='stylesheet', href='/site.css')
  body
  div#container.col(align='center')
    h1 Это тестовый сайт
    p И странно как вы сюда попали
    p Ведь ссылок на него я никому не давал =)