doctype html
html
  head
  title jsMail
  script(src='/js/jquery-1.7.2.min.js', type='text/javascript')
  script(src='/js/mail.js', type='text/javascript')
  link(href='/css/site.css', type='text/css', rel='stylesheet')
  body
  div#sendForm(align='center')
    input#text-mail
    button#btnMail Отправить
    div#info Напишите ваше сообщение и нажмите отправить
