doctype html
html
  head
  title Codes
  link(href='/css/pin.css', rel='stylesheet', type='text/css')
  link(href='/css/hacker.css', rel='stylesheet', type='text/css')
  script(src='/js/jquery-1.7.2.min.js')
  script(src='/js/pin.js')
  body
  table.table-main
      tr
        td.leftPin
          include layout/codeBlocks
        td.mainPin
          div.num-box
            .numitem 1
            .numitem 2
            .numitem 3
            .numitem 4
            .numitem 5
            .numitem 6
            .numitem 7
            .numitem 8
            .numitem 9
            .numitem #
            .numitem 0
            .numitem @
        td.rightPin
          include layout/codeBlocks
