doctype html
html
  head
  title Codes
  link(href='/css/hacker.css', rel='stylesheet', type='text/css')
  link(href='/css/pin.css', rel='stylesheet', type='text/css')
  script(src='/js/jquery-1.7.2.min.js')
  script(src='/js/pin.js')
  body
  - var colNumber = 8
  table.tb
      tr
        td.leftPin
          - for (var i = 0; i < colNumber; i++) {
              div.code-block
          - }
        td.mainPin
          
        td.rightPin
          - for (var i = 0; i < colNumber; i++) {
              div.code-block
          - }
    
