extends main-layout

block head
  title Pin Code
  link(href='/css/pin.css', rel='stylesheet', type='text/css')
  script(src='/js/jquery.js')
  script(src='/js/pin.js')

block content
  table.table-main
    tr
      td.leftPin
        include includes/codeBlocks
      td.mainPin
        include includes/pinBlock
      td.rightPin
        include includes/codeBlocks
