doctype html
html(lang='en')
  head
    title Самая любимая
    link(type='text/css', rel='stylesheet', href='/templates/site.css')
  body
    h1(align='center') Самая любимая и красивая
    div#container.col
      p Get on it!
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
