doctype html
html(lang='en')
  head
    title Привет всем
    link(type='text/css', rel='stylesheet', href='/templates/site.css')
  body
    h1 Jade - node template engine
    div#container.col
      p Get on it!
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
