body {
    padding-top: 30px;
    background: #000000;
    color: #00FF00;
    font-size: 16px;
    font-family: monospace;
}

.tb {
    width: 100%;
    cellspacing: 0;
    cellpadding: 0;
}

#dgirl {
    position: fixed;
    top: 50px;
    left: 50px;
}

#cube1 {
    position: fixed;
    top: 50px;
    right: 50px;
}

#cube2 {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.leftcol {
    width: 35%;
}

.textcol {

}

.rightcol {
    width: 20%
}

.accessGranted {
    position: absolute;
    top: 200px;
    background: #333;
    padding: 20px;
    border: 1px solid #999;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}

.accessDenied {
    position: absolute;
    top: 200px;
    color: #F00;
    background: #511;
    padding: 20px;
    border: 1px solid #F00;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}
